body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #fff;
    color: #4b3f32;
    text-align: center;
}

.contact-container {
    width: 58%;
    margin: 40px auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 60px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 30px auto;
    width: 100%;
}

label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    margin-bottom: 5px;
}

.required {
    color: red;
}

.name-inputs input,
.tel-inputs input {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 60%;
    max-width: 800px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

.name-inputs input {
    width: 40%;
}

.tel-inputs input {
    width: 20%;
}

.radio-group {
    gap: 25px;
    display: flex;
    white-space: nowrap;
}

.btn-area {
    text-align: center;
    margin-top: 30px;
}

button {
    background-color: #7b6652;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1rem;
}
