body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #fff;
  color: #6b4c3b;
  text-align: center;
  padding-top: 180px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

button {
  background: #8b7b6a;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
